# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Tailwind build output
*.css.map
*.min.css

# VSCode settings
.vscode/
.history/

# OS junk
.DS_Store
Thumbs.db
