body{
    background-color: lightblue;
    background-image: url(gambar/simples-lines-pattern-golden-color_1017-7467.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

h1{
    color: black;
}